<!-- adminReports.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Reports</title>
  </head>
  <body>
    <h1>Admin Reports</h1>

    <table>
      <thead>
        <tr>
          <th>Column1</th>
          <!-- Add more table headers based on your database columns -->
        </tr>
      </thead>
      <tbody>
        <% data.forEach(item => { %>
        <tr>
          <td><%= item.test %></td>
          <!-- Add more table cells based on your database columns -->
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
